@charset "UTF-8";
div p {
  margin-left: 10px;
  font-family: Garamond;
  font-size: 20px;
}
footer {
  font-size: 12px;
  background-color: #222;
  text-align: center;
  padding: 12px;
}
.footerFont {
  color: #eee;
}
